<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.RoleMapper">

    <sql id="roleBaseColumnSql">
        roleId,
        roleName,
        roleDepict
    </sql>

    <sql id="roleBaseWhereSql">
        <if test="map!=null">
            <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    roleId = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleName)">
                    AND roleName = #{map.roleName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleDepict)">
                    AND roleDepict = #{map.roleDepict}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRole" parameterType="com.hzit.dao.entity.Role">
        INSERT INTO role(
        <include refid="roleBaseColumnSql"/>
        )VALUES(
            #{roleId},
            #{roleName},
            #{roleDepict}
        )
    </insert>

    
    <delete id="deleteRoleByRoleId" parameterType="Integer">
        DELETE FROM role WHERE roleId = #{roleId}
    </delete>

    <update id="updateRole" parameterType="com.hzit.dao.entity.Role">
        UPDATE role
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleName)">
                roleName = #{roleName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleDepict)">
                roleDepict = #{roleDepict} ,
            </if>
        </set>
        WHERE roleId = #{roleId}
    </update>

    <select id="searchRoleByParams" parameterType="map" resultMap="roleMap">
        SELECT
        <include refid="roleBaseColumnSql"/>
        FROM role
        <include refid="roleBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Role" id="roleMap">
        <id column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <result column="roleDepict" property="roleDepict"/>
    </resultMap>

</mapper>
